* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.salesorder-form {
  width: 780px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.salesorder-form-heading {
  grid-column: 1 / span 2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.customer-salesorder_input,
.date-salesorder_input,
.invoice-salesorder_input,
.status-salesorder_input {
  width: 100%;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
}

button.add-item {
  margin-top: 24px;
}

.add-item {
  background: rgb(83, 83, 218);
  color: white;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-item:hover {
  background: rgb(63, 63, 188);
}

@media screen and (max-width: 768px) {
  .salesorder-form {
    grid-template-columns: 1fr;
    padding: 15px;
    width: 100%;
  }

  .salesorder-form-heading {
    font-size: 18px;
  }

  .customer-salesorder_input,
  .date-salesorder_input,
  .invoice-salesorder_input,
  .status-salesorder_input {
    height: 40px;
  }

  button.add-item {
    width: 100%;
    margin-top: 20px;
  }
}
